* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

button {
    border-color: inherit;
}

input {
    outline: none;
}

input:hover {
    outline: none;
}

ul {
    list-style-type: none;
}
